 {% extends "shop/base.html" %} 
 
 {% block content %}
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="{{ product.image }}" width="500px" height="500px" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-warning display-3">
                {{ product.title }}
            </div>
            <div class="text-danger">
                Prix: $ {{ product.price }}
            </div>
            <div>
                {{ product.description }}
            </div>
            <a href=""><button class="btn btn-success">Acheter</button></a>
        </div>
    </div>
</br>
<footer class="">
    <div class="row mx-0">
        <div class="col-12 text-center" >
            <p>
                @copyright 2024 tous droits reservés
            </p>
        </div>
    </div>
</footer>

<style>
    footer{
        background-color: #1D2121;
        padding: 15px 8px;
        height:500px
    }
    footer p{
        color: #FFFFFF;
        margin-top: 250px;
    }
    @media screen and (max-width: 767px) {
        footer{
            margin-bottom: 35px;
        }
    }
</style>

 {% endblock %}